<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <span class="navbar-brand">App Youtube</span>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['grafica']">grafica</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['votar']">Votar videos</a>
            </li>
        </ul>
    </div>
</nav>